<div class="row well">
    <div class="col-md-6 offset-3 well">
        <form id="form-add-car" action="/home/addpost" method="post">
            <input type="text" name="title" class="form-control" placeholder="Title" />
            <br />
            <textarea name="blogtext" rows="17" class="form-control" placeholder="Enter blog content"></textarea>
            <br /><br />
            <button id="submitblog" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

